$color_cyan: #4fbaaf;
$color_red: #ba4f4f;
$color_black: #000;
$color_white: #fff;
$color_grey: #424242;

$color_blue: #171c5e;
$color_green: #bdd8c5;
$color_pink: #f9c7c8;

$color_primary: $color_cyan;
$color_text: $color_black;