html, body
{
    position: relative;
    margin: 0 auto;
    padding: 0;
    
    color: $color_black;
    background-color: white !important;
    background-image: none !important;
    
}

body
{   
    
    @include fontOpenSans();
	font-size: 16px;
	line-height: 28px;
	
	background: $color_grey_100;
    
    h1, h2, h3, h4, h5, h6
    {
		
    }
    
    a
    {
        color: inherit;
        text-decoration: none;
        
        &:hover,
        &:focus
        {
            color: inherit;
            text-decoration: none;
        }
    }
	
	i:not(.fa),
	em
	{
		font-style: oblique !important;
	}
	
	
	i.glyphicon,
	i.fa
	{
		font-style: normal !important;
	}
    
}