/**
 * Social Media Colors
 */

$color_facebook: #475fa6;
$color_twitter: #39c2f7;
$color_google_plus: #dd4b39;
$color_instagram: #424242;
$color_twitch: #4b367c;
$color_linkedin: #1477b5;

/**
 * Shades of Grey
 */

$color_grey_50: #fafafa;
$color_grey_100: #f5f5f5;
$color_grey_200: #eeeeee;
$color_grey_300: #e0e0e0;
$color_grey_400: #bdbdbd;
$color_grey_500: #9e9e9e;
$color_grey_600: #757575;
$color_grey_700: #616161;
$color_grey_800: #424242;
$color_grey_900: #212121;

/**
 * Typography Colors
 */

$color_black: $color_grey_900;
$color_grey: $color_grey_500;
$color_grey_lighter: $color_grey_300;

$color_primary: #f57c00; //#ff5722;
$color_secondary: #03a9f4; //#e64a19;

$color_black: #212121;
$color_black_alt: #424242;
$color_grey: #757575;
$color_grey_lighter: #9e9e9e;
$color_grey_border: #e0e0e0;
$color_desc: #676767;
$color_green: #4caf50;

$color_footer_bg: #3e3e3e;
$color_navbar_bg: white;
$color_body_bg: $color_grey_lighter;
$color_border: $color_grey_border;