$spacing_limit: 120;
$spacing_count: $spacing_limit / 4;

/**
 * Margin Top
 */

@for $i from 0 through $spacing_count{
    $spacing_value: $i * 4;
    .mt#{$spacing_value}{margin-top: #{$spacing_value}px !important;}
}

/**
 * Margin Bottom
 */

@for $i from 0 through $spacing_count{
    $spacing_value: $i * 4;
    .mb#{$spacing_value}{margin-bottom: #{$spacing_value}px !important;}
}

/**
 * Padding Top
 */

@for $i from 0 through $spacing_count{
    $spacing_value: $i * 4;
    .pt#{$spacing_value}{padding-top: #{$spacing_value}px !important;}
}

/**
 * Padding Bottom
 */

@for $i from 0 through $spacing_count{
    $spacing_value: $i * 4;
    .pb#{$spacing_value}{padding-bottom: #{$spacing_value}px !important;}
}

/**
 * Reset Padding
 */

.nopadding
{
    padding: 0 !important;
}