/**
 * Required fonts list
 * Montserrat
 * Roboto
 */

@mixin fontAwesome()
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Open+Sans:300,400,700|Oswald:300, 400, 700');

@mixin fontOpenSans($font-weight: 400)
{
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-weight;
}

@mixin fontRaleway($font-weight: 400)
{
    font-family: 'Raleway', sans-serif;
    font-weight: $font-weight;
}

@mixin fontOswald($font-weight: 400)
{
    font-family: 'Oswald', sans-serif;
    font-weight: $font-weight;
}

html, body
{
    
    @include fontOpenSans();
    
    h1, h2, h3, h4, h5, h6
    {
        @include fontOpenSans(700);
    }
}