html, body
{
    @include fontPrimary();
    @include fontSize(16);
    @include lineHeight(28);

    background-color: $color_white;
    color: $color_text;
    position: relative;
}

a
{
    color: $color_blue;

    &:hover
    {
        color: $color_blue;
    }
}

.pagination
{
    .page-link
    {
        @include transition();
        color: $color_blue;
    }
}