.main
{
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 0;

    &__content
    {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;

        &--top
        {
            min-height: calc(100vh - 25vh);
            padding-top: 25vh;
        }

        &--bottom
        {
            padding-top: 10vh;
        }
    }

    img
    {
        max-width: 100%;
    }

    .container
    {
        position: relative;
        background-image: url('../img/or-top-left.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 600px auto;

        padding-bottom: 400px;

        &::before
        {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;

            margin: 0 0 -200px;
            padding: 0;
            width: 100%;
            height: 480px;
            background-image: url('../img/or-bottom-left.png');
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 600px auto;
        }

        &::after
        {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;

            margin: 0 0;
            padding: 0;
            width: 100%;
            height: 320px;
            background-image: url('../img/or-top-right.png');
            background-repeat: no-repeat;
            background-position: 100% -16px;
            background-size: 640px auto;
        }
    }
}

@media (max-width: #{$breakpoint_max_xl})
{
    .main
    {
        .container
        {
            &::after
            {
                display: none;
            }
        } 
    }
}


@media (max-width: #{$breakpoint_max_lg})
{
    .main
    {
        .container
        {
            background-size: 480px auto;
        }

        &__content
        {
            &--top
            {
                padding-top: 720px;
            }
        }
    }
}

@media (max-width: #{$breakpoint_max_md})
{
    .main
    {
        .container
        {
            background-size: 480px auto;
        }

        &__content
        {
            &--top
            {
                padding-top: 720px;
            }
        }
    }
}

@media (max-width: #{$breakpoint_max_sm})
{
    .main
    {
        .container
        {
            background-size: 320px auto;
        }

        &__content
        {
            &--top
            {
                padding-top: 70vh;
            }
        }
    }
}

@media (max-width: 479px)
{
    .main
    {
        .container
        {
            background-size: 280px auto;
        }

        &__content
        {
            &--top
            {
                padding-top: calc(335px - 60px);
            }
        }
    }
}


@media (max-width: #{$breakpoint_max_lg}) and (orientation: landscape)
{
    .main
    {
        &__content
        {
            padding-top: 0;

            &--top
            {
                padding-top: 560px;
            }
        }
    }
}